{% extends 'Site/base.html.twig' %}

{% block content %}



        <main class="px-3">
            <h1>DALL·E 2.</h1>
            <p class="lead">DALL·E 2 can create original, realistic images and art from a
                text description. It can combine concepts, attributes, and styles.</p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
        </footer>
{% endblock %}